@import './variables';
@import './feed';

.linkedin {
  background-color: $sidebar-color;
  flex-direction: column;
  align-items: center;

  &__body {
    display: flex;

  }


  &__sidebar {
    position: sticky;
    height: fit-content;

    flex: 0.2;

    text-align: center;

    border-radius: 10px;

    &__top {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid $main-border-color;
      border-bottom: 0;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-color: $bg-color;
      padding-bottom: 10px;

      > h2 {
        font-size: 18px;
      }

      > h4 {
        color: gray;
        font-size: 12px;
      }

      &__avatar {
        margin-bottom: 10px;
      }
      > img {
        margin-bottom: -20px;
        width: 100%;
        height: 60px;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }

    &__recentItem {
      display: flex;
      font-size: 13px;
      color: $font-color;
      font-weight: bolder;
      cursor: pointer;

      padding: 5px;

      &:hover {
        color: $linkedin-font-color;
        background-color: $before-bg-color;
        border-radius: 10px;
        cursor: pointer;
      }

      &__hash {
        color: $font-color;
        margin-left: 5px;
        margin-right: 10px;
      }
    }

    &__stats {
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid $main-border-color;
      background-color: $bg-color;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      &__stat {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;

        > p {
          color: $font-color;
          font-size: 13px;
          font-weight: 600;
        }

        &__statNumber {
          font-weight: 700;
          color:  $linkedin-font-color !important;
        }
      }
    }
    &__bottom {
      margin-top: 10px;
      padding: 10px;
      background-color: $bg-color;
      text-align: center;
      border: 1px solid $main-border-color;
      border-radius: 10px;

      > p {
        font-size: 13px;
        padding-bottom: 10px;
      }
    }
  }
}